
body {
    background: #976510;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 8P1jBor75n36fnbjQMfIDWXw7CcuaNAGNUFnCsrDsLe4pWICd6fhTNTMYQt5YsuYCkVi8pFFsS1iWlzVh6xy2DjURPJdyWBJGIo82XDJAqsoB1nN5ZoYfKgTSkMI6KyqWGAelZISNg1rX6nRSFMpI0Wu9GMFNAzj5UEwbKdaaGKOrdPMqoXT16VYFEha3t68vooKj32s */
